<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
<session-factory>
 
<!-- Related to the connection START -->
<property name="connection.driver_class">org.postgresql.Driver</property>
<property name="connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>
<property name="connection.user">postgres</property>
<property name="connection.password">toor</property>
<!-- Related to the connection END -->
 
<!-- Related to hibernate properties START -->
<property name="show_sql">true</property>
<property name="dialet">org.hibernate.dialect.PostgreSQLDialect</property>
<property name="hbm2ddl.auto">create </property>
<!-- Related to hibernate properties END-->
 
<!-- Related to mapping START-->
<mapping class="org.hibernate.annotations.UserDetails"/> 
<mapping class="org.hibernate.primarykey.UserDetailsPrimaryKey"/>
<!-- <mapping resource="hbm file 1 name .xml" / >
<mapping resource="hbm file 2 name .xml" / > -->
<!-- Related to the mapping END -->
 
</session-factory>
</hibernate-configuration>